<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <div class="d-flex justify-content-between w-100">
            <mat-card-title class="m-b-0 text-right">Véhicule</mat-card-title>
            <button mat-raised-button color="primary" (click)="ouvrirDialogAjout()">Nouveau</button>
        </div>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="row">
            <div class="col-lg-8">
                <mat-form-field appearance="outline" class="w-100 input-search" color="primary">
                    <input matInput placeholder="Recherche" />
                    <mat-icon matSuffix role="img">
                        <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table mat-table [dataSource]="vehicules" class="w-100">
                        <ng-container matColumnDef="photo">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Photo</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">
                                <img [src]="element.photo" alt="Photo de {{ element.matricule }}"
                                    class="vehicule-photo" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="matricule">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Matricule</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.matricule }}</td>
                        </ng-container>

                        <ng-container matColumnDef="dateMiseCirculation">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Date de mise en
                                Circulation</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.dateMiseCirculation |
                                date: 'dd/MM/yyyy' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="puissanceFiscale">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Puissance
                                Fiscale</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.puissanceFiscale }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nbrePlace">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Nombre de Places
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.nbrePlace }}</td>
                        </ng-container>

                        <ng-container matColumnDef="couleur">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Couleur</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.couleur }}</td>
                        </ng-container>

                        <ng-container matColumnDef="kilometrage">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Kilométrage</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.kilometrage }}</td>
                        </ng-container>

                        <ng-container matColumnDef="modele">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Modèle</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ getModeleName(element.modele)
                                }}</td>
                        </ng-container>

                        <ng-container matColumnDef="carburant">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Carburant</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{
                                getCarburantName(element.carburant) }}</td>
                        </ng-container>

                        <ng-container matColumnDef="categorie">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Catégorie</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{
                                getCategorieName(element.categorie) }}</td>
                        </ng-container>

                        <ng-container matColumnDef="enumeration">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Énumération</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{
                                getEnumerationName(element.enumeration) }}</td>
                        </ng-container>

                        <ng-container matColumnDef="statut">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Statut</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{ getStatutName(element.statut)
                                }}</td>
                        </ng-container>

                        <ng-container matColumnDef="concessionnaire">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Concessionnaire
                            </th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">{{
                                getConcessionnaireName(element.concessionnaire) }}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Actions</th>
                            <td mat-cell *matCellDef="let element" class="mat-body-1">
                                <button mat-icon-button color="accent" (click)="ouvrirDialogModification(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="ouvrirDialogSuppression(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="ouvrirDialogConsultation(element)">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Sélectionner la page des véhicules"></mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Dialog pour Ajouter/Modifier un Véhicule -->
<ng-template #dialogAjoutModification let-dialogRef>
    <div class="mdc-dialog__container">
        <div class="mat-mdc-dialog-surface mdc-dialog__surface">
            <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">{{ isEdit ? 'Modifier Véhicule' :
                'Ajouter Véhicule' }}</h2>
            <mat-dialog-content class="mat-mdc-dialog-content" style="padding: 20px;">
                <form [formGroup]="vehiculeForm">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Matricule</mat-label>
                                <input matInput formControlName="matricule" />
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Date de mise en Circulation</mat-label>
                                <input matInput formControlName="dateMiseCirculation"
                                    [matDatepicker]="pickerMiseCirculation" />
                                <mat-datepicker-toggle matSuffix [for]="pickerMiseCirculation"></mat-datepicker-toggle>
                                <mat-datepicker #pickerMiseCirculation></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Puissance Fiscale</mat-label>
                                <input matInput formControlName="puissanceFiscale" />
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Nombre de Places</mat-label>
                                <input matInput formControlName="nbrePlace" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Couleur</mat-label>
                                <input matInput formControlName="couleur" />
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Kilométrage</mat-label>
                                <input matInput formControlName="kilometrage" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Modèle</mat-label>
                                <mat-select formControlName="modele">
                                    <mat-option *ngFor="let modele of modeles" [value]="modele.idModele">
                                        {{ modele.libelleModele }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Carburant</mat-label>
                                <mat-select formControlName="carburant">
                                    <mat-option *ngFor="let carburant of carburants"
                                        [value]="carburant.idTypeCarburant">
                                        {{ carburant.libelleTypeCarburant }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Catégorie</mat-label>
                                <mat-select formControlName="categorie">
                                    <mat-option *ngFor="let categorie of categories" [value]="categorie.idTypeVehicule">
                                        {{ categorie.libelleTypeVehicule }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Énumération</mat-label>
                                <mat-select formControlName="enumeration">
                                    <mat-option *ngFor="let enumeration of enumerations"
                                        [value]="enumeration.idEnumeration">
                                        {{ enumeration.designationEnumeration }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Statut</mat-label>
                                <mat-select formControlName="statut">
                                    <mat-option *ngFor="let statut of statuts" [value]="statut.idStatut">
                                        {{ statut.designationStatut }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                                <mat-label>Concessionnaire</mat-label>
                                <mat-select formControlName="concessionnaire">
                                    <mat-option *ngFor="let concessionnaire of concessionnaires"
                                        [value]="concessionnaire.idConcessionnaire">
                                        {{ concessionnaire.nomConcessionnaire }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="file" (change)="onFileSelected($event)" class="w-100" />
                        </div>
                    </div>
                </form>
            </mat-dialog-content>
            <mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
                <button mat-flat-button color="warn" (click)="dialogRef.close()">Annuler</button>
                <button mat-flat-button color="primary" (click)="sauvegarderVehicule()">{{ isEdit ? 'Modifier' :
                    'Ajouter' }}</button>
            </mat-dialog-actions>
        </div>
    </div>
</ng-template>

<!-- Dialog pour Consulter un Véhicule -->
<ng-template #dialogConsultation let-dialogRef>
    <div class="mdc-dialog__container">
        <div class="mat-mdc-dialog-surface mdc-dialog__surface">
            <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">Détails du Véhicule</h2>
            <mat-dialog-content class="mat-mdc-dialog-content" style="padding: 20px;">
                <div class="row">
                    <div class="col-12">
                        <img [src]="selectedVehicule?.photo" alt="Photo du véhicule" class="vehicule-photo-large" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Matricule:</strong> {{ selectedVehicule?.matricule }}</p>
                        <p><strong>Date de mise en Circulation:</strong> {{ selectedVehicule?.dateMiseCirculation |
                            date: 'dd/MM/yyyy' }}</p>
                        <p><strong>Puissance Fiscale:</strong> {{ selectedVehicule?.puissanceFiscale }}</p>
                        <p><strong>Nombre de Places:</strong> {{ selectedVehicule?.nbrePlace }}</p>
                    </div>
                    <div class="col">
                        <p><strong>Couleur:</strong> {{ selectedVehicule?.couleur }}</p>
                        <p><strong>Kilométrage:</strong> {{ selectedVehicule?.kilometrage }}</p>
                        <p><strong>Modèle:</strong> {{ getModeleName(selectedVehicule?.modele) }}</p>
                        <p><strong>Carburant:</strong> {{ getCarburantName(selectedVehicule?.carburant) }}</p>
                    </div>
                    <div class="col">
                        <p><strong>Catégorie:</strong> {{ getCategorieName(selectedVehicule?.categorie) }}</p>
                        <p><strong>Énumération:</strong> {{ getEnumerationName(selectedVehicule?.enumeration) }}</p>
                        <p><strong>Statut:</strong> {{ getStatutName(selectedVehicule?.statut) }}</p>
                        <p><strong>Concessionnaire:</strong> {{
                            getConcessionnaireName(selectedVehicule?.concessionnaire) }}</p>
                    </div>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
                <button mat-flat-button color="primary" (click)="fermerDialog()">Fermer</button>
            </mat-dialog-actions>
        </div>
    </div>
</ng-template>

<!-- Dialog de Confirmation de Suppression -->
<ng-template #dialogSuppression let-dialogRef>
    <div class="mdc-dialog__container">
        <div class="mat-mdc-dialog-surface mdc-dialog__surface">
            <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">Supprimer</h2>
            <div class="p-x-24 p-b-24 ng-star-inserted">Êtes-vous sûr de vouloir supprimer <span class="f-w-600">{{
                    selectedVehicule?.matricule }}</span>?</div>
            <div mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
                <button mat-flat-button color="warn" (click)="fermerDialog()">Annuler</button>
                <button mat-flat-button color="primary" (click)="confirmerSuppression()">Supprimer</button>
            </div>
        </div>
    </div>
</ng-template>