<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <div class="d-flex justify-content-between w-100">
      <mat-card-title class="m-b-0 text-right">Intervention</mat-card-title>
      <button mat-raised-button color="primary" (click)="ouvrirDialogAjout()">Nouveau</button>
    </div>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-8">
        <mat-form-field appearance="outline" class="w-100 input-search" color="primary">
          <input matInput placeholder="Recherche" />
          <mat-icon matSuffix role="img">
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table mat-table [dataSource]="interventions" class="w-100">
            <ng-container matColumnDef="objetIntervention">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Objet</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.objetIntervention }}</td>
            </ng-container>

            <ng-container matColumnDef="dateIntervention">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Date</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.dateIntervention | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="typeIntervention">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Type Intervention</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ getTypeInterventionName(element.typeIntervention.idTypeIntervention) }}</td>
            </ng-container>

            <ng-container matColumnDef="kmIntervention">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Kilométrage</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.kmIntervention }}</td>
            </ng-container>

            <ng-container matColumnDef="garage">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Garage</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ getGarageName(element.garage.idGarage) }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Actions</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <button mat-icon-button color="accent" (click)="ouvrirDialogModification(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="ouvrirDialogSuppression(element)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="ouvrirDialogDetails(element)">
                  <mat-icon>info</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Sélectionner la page des interventions"></mat-paginator>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Dialog pour Ajouter/Modifier une Intervention -->
<ng-template #dialogAjoutModification let-dialogRef>
  <div class="mdc-dialog__container">
    <div class="mat-mdc-dialog-surface mdc-dialog__surface">
      <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">{{ isEdit ? 'Modifier Intervention' : 'Ajouter Intervention' }}</h2>
      <mat-dialog-content class="mat-mdc-dialog-content" style="padding: 20px;">
        <form [formGroup]="interventionForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Objet</mat-label>
                <input matInput formControlName="objetIntervention" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Date</mat-label>
                <input matInput formControlName="dateIntervention" [matDatepicker]="pickerDate" />
                <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Type Intervention</mat-label>
                <mat-select [formControl]="interventionForm.get('typeIntervention')?.get('idTypeIntervention')">
                  <mat-option *ngFor="let type of typeInterventions" [value]="type.idTypeIntervention">
                    {{ type.libelleTypeIntervention }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Kilométrage</mat-label>
                <input matInput formControlName="kmIntervention" type="number" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Garage</mat-label>
                <mat-select [formControl]="interventionForm.get('garage')?.get('idGarage')">
                  <mat-option *ngFor="let garage of garages" [value]="garage.idGarage">
                    {{ garage.nomGarage }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Véhicule</mat-label>
                <mat-select [formControl]="interventionForm.get('vehicule')?.get('idVehicule')">
                  <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule.idVehicule">
                    {{ vehicule.matriculeVehicule }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                <mat-label>Échéance</mat-label>
                <input matInput formControlName="echeanceIntervention" [matDatepicker]="pickerEcheance" />
                <mat-datepicker-toggle matSuffix [for]="pickerEcheance"></mat-datepicker-toggle>
                <mat-datepicker #pickerEcheance></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Tâches</h3>
              <div formArrayName="taches" *ngFor="let tacheCtrl of tachesFormArray.controls; let i=index">
                <div [formGroupName]="i" class="mb-3">
                  <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
                    <mat-label>Tâche</mat-label>
                    <mat-select formControlName="idTache">
                      <mat-option *ngFor="let tache of taches" [value]="tache.idTache">
                        {{ tache.libelleTache }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-icon-button color="warn" (click)="supprimerTache(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <button mat-raised-button color="primary" (click)="ajouterTache()">Ajouter Tâche</button>
            </div>
          </div>
        </form>
      </mat-dialog-content>
      <mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
        <button mat-flat-button color="warn" (click)="dialogRef.close()">Annuler</button>
        <button mat-flat-button color="primary" (click)="sauvegarderIntervention()">{{ isEdit ? 'Modifier' : 'Ajouter' }}</button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>

<!-- Dialog pour les Détails d'une Intervention -->
<ng-template #dialogDetails let-dialogRef>
  <div class="mdc-dialog__container">
    <div class="mat-mdc-dialog-surface mdc-dialog__surface">
      <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">Détails de l'Intervention</h2>
      <mat-dialog-content class="mat-mdc-dialog-content" style="padding: 20px;">
        <div *ngIf="selectedIntervention">
          <p><strong>Objet:</strong> {{ selectedIntervention.objetIntervention }}</p>
          <p><strong>Date:</strong> {{ selectedIntervention.dateIntervention | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Type Intervention:</strong> {{ getTypeInterventionName(selectedIntervention.typeIntervention.idTypeIntervention) }}</p>
          <p><strong>Kilométrage:</strong> {{ selectedIntervention.kmIntervention }}</p>
          <p><strong>Garage:</strong> {{ getGarageName(selectedIntervention.garage.idGarage) }}</p>
          <p><strong>Véhicule:</strong> {{ getVehiculeName(selectedIntervention.vehicule.idVehicule) }}</p>
          <p><strong>Échéance:</strong> {{ selectedIntervention.echeanceIntervention | date: 'dd/MM/yyyy' }}</p>
          
          <h3>Tâches</h3>
          <table mat-table [dataSource]="selectedIntervention.taches" class="w-100">
            <ng-container matColumnDef="libelleTache">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Tâche</th>
              <td mat-cell *matCellDef="let tache" class="mat-body-1">{{ tache.libelleTache }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['libelleTache']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['libelleTache'];"></tr>
          </table>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
        <button mat-flat-button color="primary" (click)="dialogRef.close()">Fermer</button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>

<!-- Dialog de Confirmation de Suppression -->
<ng-template #dialogSuppression let-dialogRef>
  <div class="mdc-dialog__container">
    <div class="mat-mdc-dialog-surface mdc-dialog__surface">
      <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">Supprimer</h2>
      <div class="p-x-24 p-b-24 ng-star-inserted">Êtes-vous sûr de vouloir supprimer <span class="f-w-600">{{ selectedIntervention?.objetIntervention }}</span>?</div>
      <div mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
        <button mat-flat-button color="warn" (click)="dialogRef.close()">Annuler</button>
        <button mat-flat-button color="primary" (click)="confirmerSuppression()">Supprimer</button>
      </div>
    </div>
  </div>
</ng-template>
