<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Ajouter un Utilisateur</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Matricule</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Matricule"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nom</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="number" placeholder="Nom" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Prénom</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="number" placeholder="Prénom" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Email"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nom d'utilisateur</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="number" placeholder="Nom d'utilisateur" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Numéro de téléphone</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="number" placeholder="Numéro de téléphone" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Image</mat-label>
        <input type="file" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Département</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-select role="combobox" aria-autocomplete="none" aria-haspopup="listbox" placeholder="Département">
            <mat-form-field appearance="outline" class="w-100 input-search" color="primary">
              <input matInput (keyup)="onKey($event.target.value)" placeholder="Search"/>
            </mat-form-field>
            <mat-option role="option" *ngFor="let state of selectedStates" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Rôle</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-select role="combobox" aria-autocomplete="none" aria-haspopup="listbox" placeholder="Rôle">
            <mat-form-field appearance="outline" class="w-100 input-search" color="primary">
              <input matInput (keyup)="onKey($event.target.value)" placeholder="Search"/>
            </mat-form-field>
            <mat-option role="option" *ngFor="let state of selectedStates" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Date de naissance</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="Date de naissance"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Mot de passe</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="number" placeholder="Mot de passe" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Adresse</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="number" placeholder="Adresse" />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="b-t-1">
    <button mat-flat-button color="warn" type="reset">
      <span class="mdc-button__label">Annuler</span>
      <span class="mat-mdc-focus-indicator"></span>
      <span class="mat-mdc-button-touch-target"></span>
      <span class="mat-ripple mat-mdc-button-ripple"></span>
    </button>
    <button mat-flat-button color="primary" type="reset" class="m-l-8">
      <span class="mdc-button__label">Confirmer</span>
      <span class="mat-mdc-focus-indicator"></span>
      <span class="mat-mdc-button-touch-target"></span>
      <span class="mat-ripple mat-mdc-button-ripple"></span>
    </button>
  </mat-card-actions>
</mat-card>
