<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <div class="d-flex justify-content-between w-100">
      <mat-card-title class="m-b-0 text-right">Compagnie</mat-card-title>
      <button mat-raised-button color="primary" (click)="ouvrirDialogAjout()">Nouveau</button>
    </div>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-8">
        <mat-form-field appearance="outline" class="w-100 input-search" color="primary">
          <input matInput placeholder="Recherche" [formControl]="searchControl" />
          <mat-icon matSuffix role="img">
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table mat-table [dataSource]="compagnies" class="w-100" matSort>
            <ng-container matColumnDef="nomCompagnie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Nom</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.nomCompagnie }}</td>
            </ng-container>

            <ng-container matColumnDef="adresseCompagnie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Adresse</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.adresseCompagnie }}</td>
            </ng-container>

            <ng-container matColumnDef="telCompagnie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Tél</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.telCompagnie }}</td>
            </ng-container>

            <ng-container matColumnDef="emailCompagnie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Email</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.emailCompagnie }}</td>
            </ng-container>

            <ng-container matColumnDef="faxCompagnie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Fax</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.faxCompagnie }}</td>
            </ng-container>

            <ng-container matColumnDef="nomResponsableC">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Responsable</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.nomResponsableC }}</td>
            </ng-container>

            <ng-container matColumnDef="gsmResponsableC">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Gsm</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">{{ element.gsmResponsableC }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Actions</th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <button mat-icon-button color="accent" (click)="ouvrirDialogModification(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="ouvrirDialogSuppression(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Sélectionner la page des compagnies" [length]="compagnies.data.length" [pageSize]="5"
            (page)="onPageChange($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Dialog pour Ajouter/Modifier une Compagnie -->
<ng-template #dialogAjoutModification let-dialogRef>
  <div class="mdc-dialog__container">
    <div class="mat-mdc-dialog-surface mdc-dialog__surface">
      <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">{{ isEdit ? 'Modifier Compagnie' : 'Ajouter Compagnie' }}</h2>
      <mat-dialog-content class="mat-mdc-dialog-content" style="padding: 20px;">
        <form [formGroup]="compagnieForm">
          <ng-container *ngIf="isEdit">
            <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
              <mat-label>Id Compagnie</mat-label>
              <input matInput formControlName="idCompagnie" disabled />
            </mat-form-field>
          </ng-container>
          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nomCompagnie"
              [ngClass]="{'is-invalid': compagnieForm.get('nomCompagnie').invalid && (compagnieForm.get('nomCompagnie').dirty || compagnieForm.get('nomCompagnie').touched)}" />
            <div
              *ngIf="compagnieForm.get('nomCompagnie').invalid && (compagnieForm.get('nomCompagnie').dirty || compagnieForm.get('nomCompagnie').touched)"
              class="invalid-feedback">
              <div *ngIf="compagnieForm.get('nomCompagnie').errors.required">Le nom de la compagnie est requis.</div>
            </div>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresseCompagnie"
              [ngClass]="{'is-invalid': compagnieForm.get('adresseCompagnie').invalid && (compagnieForm.get('adresseCompagnie').dirty || compagnieForm.get('adresseCompagnie').touched)}" />
            <div
              *ngIf="compagnieForm.get('adresseCompagnie').invalid && (compagnieForm.get('adresseCompagnie').dirty || compagnieForm.get('adresseCompagnie').touched)"
              class="invalid-feedback">
              <div *ngIf="compagnieForm.get('adresseCompagnie').errors.required">L'adresse de la compagnie est requise.</div>
            </div>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>Tél</mat-label>
            <input matInput formControlName="telCompagnie"
              [ngClass]="{'is-invalid': compagnieForm.get('telCompagnie').invalid && (compagnieForm.get('telCompagnie').dirty || compagnieForm.get('telCompagnie').touched)}" />
            <div
              *ngIf="compagnieForm.get('telCompagnie').invalid && (compagnieForm.get('telCompagnie').dirty || compagnieForm.get('telCompagnie').touched)"
              class="invalid-feedback">
              <div *ngIf="compagnieForm.get('telCompagnie').errors.required">Le téléphone de la compagnie est requis.</div>
            </div>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailCompagnie"
              [ngClass]="{'is-invalid': compagnieForm.get('emailCompagnie').invalid && (compagnieForm.get('emailCompagnie').dirty || compagnieForm.get('emailCompagnie').touched)}" />
            <div
              *ngIf="compagnieForm.get('emailCompagnie').invalid && (compagnieForm.get('emailCompagnie').dirty || compagnieForm.get('emailCompagnie').touched)"
              class="invalid-feedback">
              <div *ngIf="compagnieForm.get('emailCompagnie').errors.required">L'email de la compagnie est requis.</div>
              <div *ngIf="compagnieForm.get('emailCompagnie').errors.email">L'email de la compagnie est invalide.</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>Fax</mat-label>
            <input matInput formControlName="faxCompagnie" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>Responsable</mat-label>
            <input matInput formControlName="nomResponsableC"
              [ngClass]="{'is-invalid': compagnieForm.get('nomResponsableC').invalid && (compagnieForm.get('nomResponsableC').dirty || compagnieForm.get('nomResponsableC').touched)}" />
            <div
              *ngIf="compagnieForm.get('nomResponsableC').invalid && (compagnieForm.get('nomResponsableC').dirty || compagnieForm.get('nomResponsableC').touched)"
              class="invalid-feedback">
              <div *ngIf="compagnieForm.get('nomResponsableC').errors.required">Le responsable de la compagnie est requis.</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 m-b-16" color="primary">
            <mat-label>GSM</mat-label>
            <input matInput formControlName="gsmResponsableC"
              [ngClass]="{'is-invalid': compagnieForm.get('gsmResponsableC').invalid && (compagnieForm.get('gsmResponsableC').dirty || compagnieForm.get('gsmResponsableC').touched)}" />
            <div
              *ngIf="compagnieForm.get('gsmResponsableC').invalid && (compagnieForm.get('gsmResponsableC').dirty || compagnieForm.get('gsmResponsableC').touched)"
              class="invalid-feedback">
              <div *ngIf="compagnieForm.get('gsmResponsableC').errors.required">Le GSM du responsable est requis.</div>
            </div>
          </mat-form-field>

        </form>
      </mat-dialog-content>
      <mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
        <button mat-flat-button color="warn" (click)="fermerDialog()">Annuler</button>
        <button mat-flat-button color="primary" (click)="sauvegarderCompagnie()">{{ isEdit ? 'Modifier' : 'Ajouter' }}</button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>

<!-- Dialog de Confirmation de Suppression -->
<ng-template #dialogSuppression let-dialogRef>
  <div class="mdc-dialog__container">
    <div class="mat-mdc-dialog-surface mdc-dialog__surface">
      <h2 mat-dialog-title class="mat-mdc-dialog-title mdc-dialog__title">Supprimer</h2>
      <div class="p-x-24 p-b-24 ng-star-inserted">Êtes-vous sûr de vouloir supprimer <span class="f-w-600">{{ selectedCompagnie?.nomCompagnie }}</span>?</div>
      <div mat-dialog-actions class="mat-mdc-dialog-actions mdc-dialog__actions p-24 p-t-0">
        <button mat-flat-button color="warn" (click)="fermerDialog()">Annuler</button>
        <button mat-flat-button color="primary" (click)="confirmerSuppression()">Supprimer</button>
      </div>
    </div>
  </div>
</ng-template>
